= '<%@ page language="java" pageEncoding="UTF-8"%>'
.panel.panel-default
  .panel-heading
    / Nav tabs
    %ul.nav.nav-album.pull-right{:role => 'tablist'}
      %li.pull-right{:role => 'presentation'}
        %a.btn.btn-default{'aria-controls' => 'album-frames', 'data-toggle' => 'tab', :href => '#album-frames', :role => 'tab'}
          %span.glyphicon.glyphicon-th-large
      %li.pull-right
        &nbsp
      %li.active.pull-right{:role => 'presentation'}
        %a.btn.btn-default{'aria-controls' => 'album-table', 'data-toggle' => 'tab', :href => '#album-table', :role => 'tab'}
          %span.glyphicon.glyphicon-th-list
      %li.pull-right
        &nbsp
      %li.pull-right
        %form.form-inline{data: {'albums-order': ''}}
          %form-group
            %label Order by:
            %select.form-control
              %option{selected: true, data: {'order-by': 'name', 'direction': 'asc'}} Name(A-Z)
              %option{data: {'order-by': 'name', 'direction': 'desc'}} Name(Z-A)
              %option{data: {'order-by': 'date', 'direction': 'asc'}} Date(0-9)
              %option{data: {'order-by': 'date', 'direction': 'desc'}} Date(9-0)
    %h4 Albums

  .tab-content#albums{data: {pagination: '#pagination', 'per-page': 8, 'order-by': 'name', 'direction': 'asc'}}
    #album-table.tab-pane.fade.in.active{:role => 'tabpanel'}
      .panel-body
        %table.table.table-hover{data: {'release-groups': ''}}
          %thead
            %tr
              %th Cover & Title
              %th
              %th First release date
          %tbody
    #album-frames.tab-pane.fade{:role => 'tabpanel'}
      .panel-body.row
    #pagination.text-center{data: {enumerable: '#albums'}}

  #releases-modal.modal.fade{:role => "dialog", :tabindex => "-1"}
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} ×
          %h4.modal-title Choose one version to browse
        .modal-body
          %table.table.table-hover
            %thead
              %th #
              %th Title
              %th Status
              %th Country
              %th Date
            %tbody

  #release-group-modal.modal.fade{:role => "dialog", :tabindex => "-1"}
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} ×
          %h4.modal-title No further information
        .modal-body
          %span.glyphicon.glyphicon-exclamation-sign
          Sorry, there is no further information about this album.
