= '<%@ page language="java" pageEncoding="UTF-8"%>'
%header.header.header-with-avator.header-overview
  .header-background
  .container.header-inner-wrap
    .header-avatar
      .avatar-cover.img-circle-wrapper
        %img{'data-artist-overview-image' => ''}
    .header-nav
      .header-title
        %span.avatar-name{'data-artist-overview-name' => ''} &nbsp;
      %nav.nav-list
        %ul.nav-list-items
          - [ ['Baisc', './'], ['Connections', 'relationship'], ['Popularity', 'popularity'], ['Influence', 'influence'],
              ['Productivity', 'productivity'], ["Active Span", 'active-span']].each_with_index do |(item, href), index|
            = '<li class="nav-list-item " >' + '<a href="' + href + '" class="<%= active_tab == ' + index.to_s + ' ?  "active" : ""' +  '%>" >' + item + '</a></li>'
