.container
  .panel.panel-default
    .panel-heading
      / Nav tabs
      %ul.nav.nav-album.pull-right{:role => 'tablist'}
        %li.pull-right{:role => 'presentation'}
          %a.btn.btn-default{'aria-controls' => 'album-frames', 'data-toggle' => 'tab', :href => '#album-frames', :role => 'tab'}
            %span.glyphicon.glyphicon-th-large
        %li.pull-right
          &nbsp
        %li.active.pull-right{:role => 'presentation'}
          %a.btn.btn-default{'aria-controls' => 'album-table', 'data-toggle' => 'tab', :href => '#album-table', :role => 'tab'}
            %span.glyphicon.glyphicon-th-list

      %h4 专辑列表

    .tab-content
      #album-table.tab-pane.fade.in.active{:role => 'tabpanel'}
        .panel-body
          %table.table.table-hover{data: {'release-groups': ''}}
            %thead
              %tr
                %th 专辑名称
                %th
                %th 最早发布日期
            %tbody#enumerable{data: {pagination: '#pagination', 'per-page': 10}}

          #pagination.text-center{data: {enumerable: '#enumerable'}}

      #album-frames.tab-pane.fade{:role => 'tabpanel'}
        #frames-enum.panel-body.row{data: {pagination: '#frames-pagination', 'per-page': 16}}

        #frames-pagination.text-center{data: {enumerable: '#frames-enum'}}



