.nav-album > li > a {
  padding: 6px 12px;
}
.album-row {
  .album-cover {
    width: 65px;
    height: 65px;
    margin-right: 1rem;
  }
  .album-title {
    margin-right: 1rem;
  }
}

.album-frame {
  text-align: center;
  .album-cover {
    width: 100%;
    height: 100%;
  }
}