.artist-overview {
	padding-top: 30px;
	margin-bottom: 30px;
	display: none;
}

.artist-overview-basic-info {
	margin-left: 190px;
	margin-right: 0px;
}

.artist-image {
	width: 160px;
	float: left;
	padding-top: 10px;
	margin-right: 10px;
}

.artist-overview-name {
	font-size: 20px;
	font-weight: bold;
}

.artist-overview-key {
	width: 80px;
	float: left;
}

.artist-overview-value {
	margin-left: 80px;
	min-width: 100px;
	min-height: 20px;
}

.artist-overview-profile-less {
	overflow: hidden;
	max-height: 135px;
}

.artist-overview-link-label {
	width: 150px;
}

.readmore_toggler {
	background: white;
	color: #868379;
	display: block;
	height: 20px;
}

.readmore_toggler:hover {
	background: white;
	color: black;
	display: block;
	height: 20px;
}

.readmore_single_toggler:hover {
	cursor: pointer;
}

.container-fluid-new {
	padding-right: 200px;
	padding-left: 95px;
	margin-right: auto;
	margin-left: auto;
	background-color: #151414;
}

.list-group-item {
	padding: 5px;
}

.nopadding-nomargin {
	padding: 0;
	margin: 0;
}

.nopadding-left {
	padding-left: 0;
}

.grid-items {
	padding-left: 0;
}

.grid-items-item {
	position: relative;
	display: inline-block;
	vertical-align: top;
	list-style: none;
	width: 160px;
	height: 160px;
	float: left;
}

.grid-items-item-wrapper:hover {
	position: relative;
	top: -10px;
	left: -10px;
	width: 180px;
	height: 180px;
	z-index: 1;
	border-radius: 5px;
}

.grid-items-item-wrapper {
	position: relative;
	width: 160px;
	height: 160px;
	z-index: 0;
	overflow: hidden;
}

.similar-artist-image {
	width: 100%;
}

.similar-artist-image img {
	width: 100%;
}

.grid-items-item-details {
	font-size: 13px;
	font-weight: bold;
	color: white;
	line-height: 18px;
	text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
	position: absolute;
	bottom: 15px;
	left: 15px;
	right: 15px;
	margin: 0;
	line-height: 18px;
}

.grid-items-item-link {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
}