$portal-main-color: #00A896;
$form-portal-height: 45px;

$gray-base:              #000 !default;
$gray-darker:            lighten($gray-base, 13.5%) !default; // #222
$gray-dark:              lighten($gray-base, 20%) !default;   // #333
$gray:                   lighten($gray-base, 33.5%) !default; // #555
$gray-light:             lighten($gray-base, 46.7%) !default; // #777
$gray-lighter:           lighten($gray-base, 93.5%) !default; // #eee

$border-color: #bbb;

.logo-wrap {
  margin: 5rem 0;
}

span.strong {
  color: darken($portal-main-color, 15%);
}

.svg-wrap {
  margin: 0 auto;
  width: 250px;
}

.form-portal {
  margin-top: 5rem;

  .form-control, button {
    height: $form-portal-height;
    border-radius: 0;
  }

  .form-control {
    min-width: 40rem;
    border-color: $border-color;
  }

  .form-control:focus {
	border-color: $portal-main-color;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba($portal-main-color, .6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba($portal-main-color, .6);
  }

  button {
    background-color: $portal-main-color;
    color: white;
    width: 5rem;
    &:hover {
      color: white;
    }
  }
}

.central-featured {
  position: relative;
  width: 50rem;
  margin: 0 auto;
}

.feature-box {
  position: absolute;
  text-align: center;
  width: 12rem;
  .title {
    font-weight: bold;
    font-size: 1.75rem;
    color: darken($portal-main-color, 10%);
  }
  .count {
    color: $gray-dark;
    &:after {
      content: '+'
    }
  }

}

.feature1 {
  top: 10%;
  right: 77%;
}

.feature2 {
  top: 40%;
  right: 85%;
}

.feature3 {
  top: 70%;
  right: 80%;
}

.feature4 {
  top: 5%;
  left: 80%;
}
.feature5 {
  top: 30%;
  left: 82%;
}
.feature6 {
  top: 55%;
  left: 82%;
}
.feature7 {
  top: 80%;
  left: 75%;
}

.portal-footer {
  margin: 15rem 1rem 0 1rem;
  padding: 2rem;
  border-top: 1px solid $border-color;
  color: $gray-dark;
}
