@import 'bt_variables';

#search-bar {
  margin-bottom: 1rem;
}

#search-summary {
  .total-found {
    color: $alert-info-text;
  }
}

#search-tabs {
  margin-bottom: 1rem;
}

.recording-row {
  .release-more {
    display: inline-block;
  }
}

.recording-row, .artist-frame, .release-frame {
  a:not(.releases-more) {
    color: $gray-base;
  }

  em {
    color: $link-color;
    font-style: normal;
  }
}

.artist-frame, .release-frame {
  text-align: center;
  .cover-wrapper {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    overflow-y: hidden;
  }
  .cover {
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
  }
  .title {
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    width: 90%;
    overflow-x: hidden;
    margin: auto;
  }
  .thumbnail:hover {
    cursor: pointer;
  }
}

.release-frame .artists-name {
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  width: 90%;
  overflow-x: hidden;
  margin: auto;
}

.clickable:hover {
  cursor: pointer;
}