<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paypal.musictag.dao.usingdb.ArtistRelationMapper">
	<select id="findArtistCreditLinkWithCount" resultType="map">

	with first_level as (
		select ar1.id as source, ar2.id as target, sum(ac1.ref_count) as count
		from artist_credit_name as acn1 
			join artist as ar1 on acn1.artist = ar1.id
			join artist_credit as ac1 on acn1.artist_credit = ac1.id
			join artist_credit_name as acn2 on acn2.artist_credit = acn1.artist_credit 
			join artist as ar2 on ar2.id = acn2.artist
		where ar1.gid =#{artistGid, typeHandler=com.paypal.musictag.util.UuidTypeHandler, javaType=java.util.UUID, jdbcType=VARCHAR} and ar2.gid != #{artistGid, typeHandler=com.paypal.musictag.util.UuidTypeHandler, javaType=java.util.UUID, jdbcType=VARCHAR}
		group by source, target
		order by count desc
		limit 10)
	
	select * from first_level;
	
	</select>
	
	<select id="findArtistNode" resultType="map">
		select id, gid, name
		from artist
		where id in
		<foreach item="artistId" collection='artistIds' open="(" separator="," close=")">
			#{artistId}
		</foreach>
	</select>
	
	<select id="findArtistCreditNode" resultType="map">
		select id, gid, name
		from artist
		where id in
		<foreach item="artistId" collection='artistIds' open="(" separator="," close=")">
			#{artistId}
		</foreach>
	</select>
	
	<select id="findReleaseLyricistLink" resultType="map">
		SELECT artist.id as source, ar1.id as target, count(release.id) as count
		FROM release
			JOIN artist_credit_name acn ON release.artist_credit = acn.artist_credit
			JOIN artist on acn.artist = artist.id
			JOIN l_artist_release as lar on lar.entity1 = release.id
			JOIN artist as ar1 on ar1.id = lar.entity0
			JOIN link on lar.link = link.id
			JOIN link_type as lt on lt.id = link.link_type
		WHERE lt.entity_type0='artist' and lt.entity_type1 = 'release' and  lt.name='lyricist' and artist.gid = #{artistGid, typeHandler=com.paypal.musictag.util.UuidTypeHandler, javaType=java.util.UUID, jdbcType=VARCHAR}
			and ar1.gid != #{artistGid, typeHandler=com.paypal.musictag.util.UuidTypeHandler, javaType=java.util.UUID, jdbcType=VARCHAR}
		group by source, target
		order by count desc
		limit 5;
	</select>
	
	<select id="findReleaseLyricistNode" resultType="map">
		select id, gid, name, 2 as category
		from artist
		where id in
		<foreach item="artistId" collection='artistIds' open="(" separator="," close=")">
			#{artistId}
		</foreach>
	</select>
	
	<select id="getReleaseLyricCooperationsOfArtist" resultType="map">
		SELECT rls.gid, rls.name, area.name as country, rc.date_year, rc.date_month, rc.date_day
		FROM release as rls
			JOIN release_country as rc on rls.id = rc.release
			JOIN country_area as ca on rc.country = ca.area
			JOIN area on ca.area = area.id
			JOIN artist_credit_name acn ON rls.artist_credit = acn.artist_credit
			JOIN l_artist_release as lar on lar.entity1 = rls.id
			JOIN link on lar.link = link.id
			JOIN link_type as lt on lt.id = link.link_type
		WHERE lt.entity_type0='artist' and lt.entity_type1 = 'release' and  lt.name='lyricist'
			and acn.artist = #{sid} and lar.entity0 = #{tid}
	</select>
	
	<select id="findReleaseComposerLink" resultType="map">
		SELECT artist.id as source, ar1.id as target, count(release.id) as count
		FROM release
			JOIN artist_credit_name acn ON release.artist_credit = acn.artist_credit
			JOIN artist on acn.artist = artist.id
			JOIN l_artist_release as lar on lar.entity1 = release.id
			JOIN artist as ar1 on ar1.id = lar.entity0
			JOIN link on lar.link = link.id
			JOIN link_type as lt on lt.id = link.link_type
		WHERE lt.entity_type0='artist' and lt.entity_type1 = 'release' and  lt.name='composer' and artist.gid = #{artistGid, typeHandler=com.paypal.musictag.util.UuidTypeHandler, javaType=java.util.UUID, jdbcType=VARCHAR}
			and ar1.gid != #{artistGid, typeHandler=com.paypal.musictag.util.UuidTypeHandler, javaType=java.util.UUID, jdbcType=VARCHAR}
		group by source, target
		order by count desc
		limit 5;
	</select>
	
	<select id="getReleaseComposerCooperationsOfArtist" resultType="map">
		SELECT rls.gid, rls.name, area.name as country, rc.date_year, rc.date_month, rc.date_day
		FROM release as rls
			JOIN release_country as rc on rls.id = rc.release
			JOIN country_area as ca on rc.country = ca.area
			JOIN area on ca.area = area.id
			JOIN artist_credit_name acn ON rls.artist_credit = acn.artist_credit
			JOIN l_artist_release as lar on lar.entity1 = rls.id
			JOIN link on lar.link = link.id
			JOIN link_type as lt on lt.id = link.link_type
		WHERE lt.entity_type0='artist' and lt.entity_type1 = 'release' and  lt.name='composer'
			and acn.artist = #{sid} and lar.entity0 = #{tid}
	</select>
	
	<select id="findReleaseComposerNode" resultType="map">
		select id, gid, name, 3 as category
		from artist
		where id in
		<foreach item="artistId" collection='artistIds' open="(" separator="," close=")">
			#{artistId}
		</foreach>
	</select>
	
	<select id="findRecordingLyricistLink" resultType="map">
		select artist.id as source, ar1.id as target, count(recording.id) as count
		from recording
			join artist_credit_name as acn on acn.artist_credit = recording.artist_credit
			join artist on artist.id = acn.artist
			join l_recording_work as lrw on lrw.entity0 = recording.id
			join work on work.id = lrw.entity1
			join l_artist_work as law on law.entity1 = work.id
			join artist as ar1 on ar1.id = law.entity0
			join link on link.id = law.link
			join link_type as lt on link.link_type = lt.id
		where artist.gid = #{artistGid, typeHandler=com.paypal.musictag.util.UuidTypeHandler, javaType=java.util.UUID, jdbcType=VARCHAR} and lt.entity_type0='artist' and lt.entity_type1='work' and lt.name='lyricist'
			and ar1.gid != #{artistGid, typeHandler=com.paypal.musictag.util.UuidTypeHandler, javaType=java.util.UUID, jdbcType=VARCHAR}
		group by source, target
		order by count desc
		limit 5;
	</select>
	
	<select id="getRecordingLyricCooperationsOfArtists" resultType="map">
		SELECT rcd.gid, rcd.name, rcd.length
		FROM recording as rcd
			JOIN artist_credit_name as acn on acn.artist_credit = rcd.artist_credit
			JOIN l_recording_work as lrw on lrw.entity0 = rcd.id
			JOIN work on work.id = lrw.entity1
			JOIN l_artist_work as law on law.entity1 = work.id
			JOIN link on link.id = law.link
			JOIN link_type as lt on link.link_type = lt.id
		WHERE lt.entity_type0='artist' and lt.entity_type1='work' and lt.name='lyricist'
			and acn.artist = #{sid} and law.entity0 = #{tid}
	</select>
	
	<select id="findRecordingLyricistNode" resultType="map">
		select id, gid, name, 4 as category
		from artist
		where id in
		<foreach item="artistId" collection='artistIds' open="(" separator="," close=")">
			#{artistId}
		</foreach>
	</select>
	
	<select id="findRecordingComposerLink" resultType="map">
		select artist.id as source, ar1.id as target, count(recording.id) as count
		from recording
			join artist_credit_name as acn on acn.artist_credit = recording.artist_credit
			join artist on artist.id = acn.artist
			join l_recording_work as lrw on lrw.entity0 = recording.id
			join work on work.id = lrw.entity1
			join l_artist_work as law on law.entity1 = work.id
			join artist as ar1 on ar1.id = law.entity0
			join link on link.id = law.link
			join link_type as lt on link.link_type = lt.id
		where artist.gid = #{artistGid, typeHandler=com.paypal.musictag.util.UuidTypeHandler, javaType=java.util.UUID, jdbcType=VARCHAR} and lt.entity_type0='artist' and lt.entity_type1='work' and lt.name='composer'
			and ar1.gid != #{artistGid, typeHandler=com.paypal.musictag.util.UuidTypeHandler, javaType=java.util.UUID, jdbcType=VARCHAR}
		group by source, target
		order by count desc
		limit 5;
	</select>
	
	<select id="getRecordingComposerCooperationsOfArtists" resultType="map">
		SELECT rcd.gid, rcd.name, rcd.length
		FROM recording as rcd
			JOIN artist_credit_name as acn on acn.artist_credit = rcd.artist_credit
			JOIN l_recording_work as lrw on lrw.entity0 = rcd.id
			JOIN work on work.id = lrw.entity1
			JOIN l_artist_work as law on law.entity1 = work.id
			JOIN link on link.id = law.link
			JOIN link_type as lt on link.link_type = lt.id
		WHERE lt.entity_type0='artist' and lt.entity_type1='work' and lt.name='composer'
			and acn.artist = #{sid} and law.entity0 = #{tid}
	</select>
	
	<select id="getCooperationsOnRecordingOfArtists" resultType="map">
		with artist_credit_ids as (select distinct acn1.artist_credit
		from artist_credit_name acn1
		join artist_credit_name acn2 on acn1.artist_credit = acn2.artist_credit
		where acn1.artist = #{sid} and acn2.artist = #{tid})
		select  rcd.gid, rcd.name, rcd.length
		from recording as rcd
		where rcd.artist_credit in (select artist_credit from artist_credit_ids)
			and rcd.gid not in (select gid from recording_gid_redirect)
		limit 5;
	</select>
	
	<select id="getCooperationsOnReleaseOfArtists" resultType="map">
		with artist_credit_ids as (select distinct acn1.artist_credit
		from artist_credit_name acn1
		join artist_credit_name acn2 on acn1.artist_credit = acn2.artist_credit
		where acn1.artist = #{sid} and acn2.artist = #{tid})
		select rls.gid, rls.name, area.name as country, rc.date_year, rc.date_month, rc.date_day
		from release as rls
			join release_country as rc on rls.id = rc.release
			join country_area as ca on rc.country = ca.area
			join area on ca.area = area.id
		where rls.artist_credit in (select artist_credit from artist_credit_ids)
			and rls.gid not in (select gid from release_gid_redirect)
			limit 5;
	</select>
	
	<select id="getArtistCountInFirstLevel" resultType="map">
		select count(distinct acn1.artist)
		from artist_credit_name as acn 
		join artist as ar on acn.artist = ar.id
		join artist_credit_name as acn1 on acn.artist_credit = acn1.artist_credit
		join artist as ar1 on ar1.id = acn1. artist
		where ar.gid = #{artistGid, typeHandler=com.paypal.musictag.util.UuidTypeHandler, javaType=java.util.UUID, jdbcType=VARCHAR}
			and ar1.gid != #{artistGid, typeHandler=com.paypal.musictag.util.UuidTypeHandler, javaType=java.util.UUID, jdbcType=VARCHAR}
	</select>

	<select id="getReleaseCount" resultType="int">
		SELECT count(*) AS release_count
		FROM release
			JOIN artist_credit_name acn ON release.artist_credit = acn.artist_credit
			JOIN artist on acn.artist = artist.id
		WHERE artist.gid = #{artistGid, typeHandler=com.paypal.musictag.util.UuidTypeHandler, javaType=java.util.UUID, jdbcType=VARCHAR}
	</select>

	<select id="getRecordingCount" resultType="int">
		SELECT count(*) AS recording_count
		FROM recording
			JOIN artist_credit_name acn ON recording.artist_credit = acn.artist_credit
			JOIN artist on acn.artist = artist.id
		WHERE artist.gid = #{artistGid, typeHandler=com.paypal.musictag.util.UuidTypeHandler, javaType=java.util.UUID, jdbcType=VARCHAR}
	</select>

	<select id="getReleaseYearlyDist" resultType="map">
		SELECT COALESCE(release_event.date_year, -1) as date_year, count(*) AS release_count, sum(medium.track_count) as recording_count
		FROM release
			JOIN artist_credit_name acn ON release.artist_credit = acn.artist_credit
			JOIN artist on acn.artist = artist.id
			JOIN medium on medium.release = release.id
			JOIN release_event on release_event.release = release.id
		WHERE artist.gid = #{artistGid, typeHandler=com.paypal.musictag.util.UuidTypeHandler, javaType=java.util.UUID, jdbcType=VARCHAR}
		group by release_event.date_year
        ORDER BY date_year
	</select>
	
	<select id="getArtistArea" resultType="map">
        select name from area where id in (select distinct rc.country from release
		JOIN artist_credit_name acn ON release.artist_credit = acn.artist_credit
		JOIN artist on acn.artist = artist.id
		JOIN release_country rc ON release.id = rc.release
		where artist.gid = #{artistGid, typeHandler=com.paypal.musictag.util.UuidTypeHandler, javaType=java.util.UUID, jdbcType=VARCHAR})
	</select>
	
	<!--  
	<select id="getArtistEdit" resultType="map">
		select open_time from edit where id in (select edit from artist
		join edit_artist ea on ea.artist=artist.id
		where artist.gid = #{artistGid, typeHandler=com.paypal.musictag.util.UuidTypeHandler, javaType=java.util.UUID, jdbcType=VARCHAR})
	</select>
	-->
	
	<select id="getArtistEdit" resultType="map">
	select date_part('year',open_time) as year,count(*) from edit where id in (select edit from artist
	join edit_artist ea on ea.artist=artist.id
	where artist.gid = #{artistGid, typeHandler=com.paypal.musictag.util.UuidTypeHandler, javaType=java.util.UUID, jdbcType=VARCHAR})
	group by year
	order by year;
	</select>
	
</mapper>