<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.paypal.musictag.dao.usingdb.ReleaseGroupMapper">
	<select id="releasesCounts" parameterType="list" resultType="hashmap">
		select rg.gid, count(*) 
		from release as r join release_group as rg
		on r.release_group = rg.id
		where rg.gid in
		<foreach item="releaseGroupGid" collection='releaseGroupList' open="(" separator="," close=")">
			#{releaseGroupGid, typeHandler=com.paypal.musictag.util.UuidTypeHandler, javaType=java.util.UUID, jdbcType=VARCHAR}
		</foreach>
		group by rg.gid
	</select>
	
	<select id="findReleasesByReleaseGroup" parameterType="map" resultType="map">
	with x as
	  (select distinct rg.id, rg.gid, rg.type as primary_type_id, rg.name,
	       rgm.first_release_date_year,
	       rgm.first_release_date_month,
	       rgm.first_release_date_day,
	       rgm.release_count as count,
	       rgpt.name as primary_type
	   from release_group rg
	   join release_group_meta rgm
	       on rgm.id = rg.id
	   join artist_credit_name acn
	       on acn.artist_credit = rg.artist_credit
	   join release_group_primary_type rgpt
	       on rg.type = rgpt.id
	   join artist
	       on artist.id = acn.artist
	   where artist.gid = #{artistGid}
	   <choose>
		   <when test="order_by == 'date'">
               <if test="direction == 'asc'">
			   order by rgm.first_release_date_year asc,
		           rgm.first_release_date_month asc,
		           rgm.first_release_date_day asc
	           </if>
	           <if test="direction == 'desc'">
               order by rgm.first_release_date_year desc,
                   rgm.first_release_date_month desc,
                   rgm.first_release_date_day desc
	           </if>
	       </when>
	       <when test="order_by == 'name'">
	           <if test="direction == 'asc'">
	           order by rg.name asc
	           </if>
	           <if test="direction == 'desc'">
	           order by rg.name desc
	           </if>
	       </when>
       </choose>
	   )
	select x.*, c.count as total_row_count
	from x, (select count(*) from x) c
	limit #{amount} offset #{offset};
	</select>
</mapper>